/* Custom CSS */
/*************************** LOGIN *****************************/
.login-container {
	background:#eee;
	/*margin:0 auto;
	width: 740px;*/
}
.login-container .login-provider {
	display: inline-block;
    /*height: 275px;*/
    vertical-align: top;
}
.login-container .login-provider .img-container {
	display: table-cell;
    height: 60px;
	width: 200px;
    vertical-align: middle;
}
.login-container .vertical-separator
{
	border-left: 1px solid #CCCCCC;
    display: inline-block;
    /*height: 275px;*/
	height: 370px;
    margin: 0 1em;
    position: relative;
    text-align: center;
    width: 1px;
}
.login-container .vertical-separator .separator-text {
	margin-left: -38px;
    margin-top: -0.5em;
    top: 50%;
    background: none repeat scroll 0 0 #EEEEEE;
    color: #444444;
    display: inline-block;
    font-family: "MuseoSans300",sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0.7em;
    position: relative;
    text-transform: uppercase;
}
.login-container .loginForm {
	display: inline-block;
	height: 275px;
	vertical-align: top;
}
#login_form {
	margin: 0 0 0 18px;
}
.login-container .logo {
	display: inline-block ;
	height:140px;
	vertical-align:top;
	margin:70px 0;
}
/***********************************************/



/** Comment */

span.votes {
    color:#808185;
    font-size:18px;
    font-weight:bold;
}
.voteWrapper
{
    /*cursor: pointer;*/
    margin: 0px 0 0 -30px;
    position: absolute;
    align:center;
    text-align:center;
}
div.voteWrapper a
{
    text-decoration:none;
}
.display_avatar, .display_avatar img_60,
.display_avatar_60 {
	width: 60px;
	height: 60px;
}
div.chapo
{
	font-weight:bold;
	color : #5F5F5F;
}

.img100
{
	width:100px;
	height:100px;
}
.img50
{
	width:50px;
	height:50px;
}
ul.no-padding-ul
{
	padding-left:3px;
}
.token-input-list-facebook
{
	width:100% !important;
	border: 1px solid #EEEEEE !important;
}

#user_menu
{
	background-color: black;
    height: 40px;
} 
#left-main-menu li.active a
{
    background-color:#eee;
    color:black;
    font-weight:bold;
}

#user-admin-menu
{
	font-size: 15px;
	height: 40px;
	background-color:#eee;
}

.border-style
{
	border: 1px solid #eee;
}

.concept-list input
{
    width:40px;
    height:15px;
}
.concept-list select
{
    width:50px;
}
.order-item-list li, .order-item-list div, .other-items-wrapper li {
    margin: 0;
    margin: 0;
    padding: 0px;
    padding: 0px;
    cursor:pointer;
}
.sortable-item
{
    padding:5px !important;
}
.item-bank
{
	margin-bottom:5px;
}

.item-exists
{
	background-color: #eee;
}
.item-bank.item-exists a
{
	color:black;
	cursor: crosshair;
}

.margin-top-0
{
	margin-top :0px;
}
.top-menu-gap
{
	min-height:50px;
}
ul.no-bullet li
{
	list-style-type : none;
}
