ul.list {
	width: 828px;
	list-style:none;
	padding:0;
	margin:0;
	border-left:1px solid #DFDFDF;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
ul.list:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.list .lli {
	width:206px;
	height:248px;
	float:left;
	position:relative;
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.list .lli .lpro {
	text-align: center;
	padding:10px;
	width:186px;
	height:228px;
}
.list .lli a.lmhref {
	display:block;
	width:206px;
	height:248px;
}
.list .lli .lprice {text-align:left;}
.list .lli .lprice .price{font-weight:bold;color:#F00;font-size:14px;}
.list .lli .lprice b{color:#000;}
.list .lli .lprice .lspecial{color: #333; text-decoration: line-through;font-size:11px;}
.list .lli .lmname {
	display:block;
	height:32px;
	overflow:hidden;
	font-size:14px;
	color:#555;
	margin:0;
	margin-bottom:5px;
	text-align:left;
	font-weight:normal;
	margin-top:10px;
}
.list .lli:hover .lmname {
	color:#000;
}
.list .lli .lmprom {
	color:#888;
	text-align:left;
	font-size:11px;
}
.list .lli .lmprom b {
	font-size:12px;
	color:#F00;
}
.lmore {
	width: 188px;
	height: 140px;
	position:absolute;
	top:0;
	left:-1px;
	padding:10px;
	background:#000;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	opacity:0;
}
.list .lli:hover .lmore {
	opacity:0.9;
}
.lmore .lbdesc {
	display:block;
	color:#FFF;
}
.lmore .lbdesc ul {
	margin:0;
	padding:0;
	list-style:none;
}
.lmore .lbdesc ul li {
	padding-bottom:5px;
	font-family: inherit;
}
.listpro .sort {
	margin:0;
	border-top:none;
}
.crfilter {
	float:right;
	position:relative;
	height:31px;
	margin-right:10px;
	padding-right:14px;
	background:url(../image/arrow-down.png) no-repeat right center;
}
.crfilter a.crfselected {
	display:block;
	line-height:31px;
	font-size:13px;
	color:#000;
	font-weight:bold;
}
.cfilter {
	position:absolute;
	top:30px;
	right:-11px;
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	z-index:9;
	background:#FFF;
	border:1px solid #DFDFDF;
	width:148px;
}
.crfilter:hover .cfilter {
	display:block;
}
.cfilter li {
	height:28px;
}
.cfilter li a {
	color:#555;
	line-height:28px;
	display:block;
	font-size:13px;
	padding:0 15px 0 20px;
}
.cfilter li a:hover {
	background:#EAEAEA;
	color:#000;
}
.cfilter li a.selected {
	font-weight:bold;
	background:url(../image/cfilter.png) no-repeat 5px center;
}
.heading.search {
	height:31px;
	margin:0;
	padding:0 0 0 10px;
	line-height:31px;
	float:left;
}
#box_croll {
	width:250px;
}
#box_croll ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#box_croll li {
	width:124px;
	float:left;
}
#box_croll #boxall {
	width:250px;
}
.box_category #box_croll {
	width:300px;
}
.box_category #box_croll li {
	width:149px;
}
.box_category #box_croll #boxall {
	width:300px;
}